<h2>Step 1</h2>

<form class="row g-3">
    <div class="col-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome">
    </div>
    <div class="col-6">
        <label for="cognome" class="form-label">Cognome</label>
        <input type="text" class="form-control" id="cognome">
    </div>
    <div class="col-6">

        <label for="codice-fiscale" class="form-label">Codice fiscale</label>
        <input
                type="text"
                class="form-control"
                id="codice-fiscale" >
    </div>

    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="termsAndConditions">
            <label class="form-check-label" for="termsAndConditions">
                Accetto i termini e le condizioni
            </label>
            <div class="invalid-feedback">
                Devi accettare i termini e le condizioni
            </div>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>