<h2>Step 1</h2>

<form
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="row g-3">

    <pre>{{form.value | json}}</pre>

    <div class="col-6">
        <label for="nome" class="form-label">Nome</label>
        <input
                [class.is-invalid]="form.controls.nome.touched && form.controls.nome.invalid"
                formControlName="nome" type="text" class="form-control" id="nome">
    </div>
    <div class="col-6">
        <label for="cognome" class="form-label">Cognome</label>
        <input
                [class.is-invalid]="form.controls.cognome.touched && form.controls.cognome.invalid"
                formControlName="cognome" type="text" class="form-control" id="cognome">
    </div>
    <div class="col-6">

        <label for="codice-fiscale" class="form-label">Codice fiscale</label>
        <input
                [class.is-invalid]="form.controls.codiceFiscale.touched && (form.controls.codiceFiscale.invalid || form.errors)"
                formControlName="codiceFiscale"
                type="text"
                class="form-control"
                id="codice-fiscale">

        <div class="invalid-feedback">
            <ng-container *ngIf="form.controls.codiceFiscale.errors">
                Campo non valido
            </ng-container>
            <ng-container *ngIf="form.errors?.cfShouldStartWith; let initials">
                Il codice fiscale deve iniziare per "{{initials}}"
            </ng-container>
        </div>
    </div>

    <div class="col-6">
        <label for="comuneNascita" class="form-label">Comune di nascita</label>
        <ng-select
            id="comuneNascita"
            formControlName="comuneNascita"
            [items]="comuni$ | async"
            [typeahead]="typeAheadComuni$"
            bindLabel="nome"
            bindValue="codice"></ng-select>
    </div>

    <div class="col-12">
        <div class="input-group">
            <input
                    (change)="onFileSelected($event)"
                    formControlName="documento"
                    type="file"
                    [class.is-valid]="form.controls.documento.touched && uploadSuccess"
                    class="form-control">
            <div class="valid-feedback">
                File caricato correttamente!
            </div>
        </div>

        <div *ngIf="uploadProgress > 0" class="progress" role="progressbar">
            <div [ngStyle]="{'width' : uploadProgress + '%'}"
                 class="progress-bar"></div>
        </div>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input
                    [class.is-invalid]="form.controls.termsAndConditions.touched && form.controls.termsAndConditions.invalid"
                    formControlName="termsAndConditions" class="form-check-input" type="checkbox"
                    id="termsAndConditions">
            <label class="form-check-label" for="termsAndConditions">
                Accetto i termini e le condizioni
            </label>
            <div class="invalid-feedback">
                Devi accettare i termini e le condizioni
            </div>
        </div>
    </div>


    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>