<h2>Step 1</h2>

<form
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="row g-3">

    <pre>{{form.value | json}}</pre>

    <div class="col-6">
        <label for="nome" class="form-label">Nome</label>
        <input
                [class.is-invalid]="form.controls.nome.touched && form.controls.nome.invalid"
                formControlName="nome" type="text" class="form-control" id="nome">
    </div>
    <div class="col-6">
        <label for="cognome" class="form-label">Cognome</label>
        <input
                [class.is-invalid]="form.controls.cognome.touched && form.controls.cognome.invalid"
                formControlName="cognome" type="text" class="form-control" id="cognome">
    </div>
    <div class="col-6">

        <label for="codice-fiscale" class="form-label">Codice fiscale</label>
        <input
                [class.is-invalid]="form.controls.codiceFiscale.touched && (form.controls.codiceFiscale.invalid || form.errors)"
                formControlName="codiceFiscale"
                type="text"
                class="form-control"
                id="codice-fiscale">

        <div class="invalid-feedback">
            <ng-container *ngIf="form.controls.codiceFiscale.errors">
                Campo non valido
            </ng-container>
            <ng-container *ngIf="form.errors?.cfShouldStartWith; let initials">
                Il codice fiscale deve iniziare per "{{initials}}"
            </ng-container>
        </div>
    </div>

    <div class="col-12">
        <hr>
<!--        <pre>{{form.controls.indirizzoResidenza.errors | json}}</pre>-->
        <form-address formControlName="indirizzoResidenza"></form-address>
        <hr>
    </div>

    <div class="col-6">
<!--        <pre>{{form.controls.documento.errors | json}}</pre>-->
        <label class="form-label">Documento</label>
        <file-upload formControlName="documento"></file-upload>
    </div>

    <div class="col-12">
        <hr>
        <div class="row">
            <div class="col-2">
                <button (click)="addPassenger()" class="btn btn-primary">Aggiungi passeggero</button>
            </div>
            <div class="col-10">
<!--                <div class="row" *ngFor="let control of passengersFormArray.controls; index as i">-->
<!--                    <div class="col-4">-->
<!--                        <label for="nome_{{i}}" class="form-label">Nome</label>-->
<!--                        <input [formControl]="control.get('firstName')" type="text" class="form-control" id="nome_{{i}}">-->
<!--                    </div>-->
<!--                    <div class="col-4">-->
<!--                        <label for="cognome_{{i}}" class="form-label">Cognome</label>-->
<!--                        <input [formControl]="control.get('lastName')" type="text" class="form-control" id="cognome_{{i}}">-->
<!--                    </div>-->
<!--                    <div class="col-4">-->
<!--                        <label for="age_{{i}}" class="form-label">Età</label>-->
<!--                        <input [formControl]="control.get('age')" type="text" class="form-control" id="age_{{i}}">-->
<!--                    </div>-->
<!--                </div>-->
                <ng-container formArrayName="passengers">
                    <div class="row" *ngFor="let passenger of form.controls.passengers.controls; index as i">
                        <div class="col-4" [formGroupName]="i">
                            <label for="nome_{{i}}" class="form-label">Nome</label>
                            <input formControlName="firstName" type="text" class="form-control" id="nome_{{i}}">
                        </div>
                        <div class="col-4">
                            <label for="cognome_{{i}}" class="form-label">Cognome</label>
                            <input formControlName="lastName" type="text" class="form-control" id="cognome_{{i}}">
                        </div>
                        <div class="col-4">
                            <label for="age_{{i}}" class="form-label">Età</label>
                            <input formControlName="age" type="text" class="form-control" id="age_{{i}}">
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <hr>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input
                    [class.is-invalid]="form.controls.termsAndConditions.touched && form.controls.termsAndConditions.invalid"
                    formControlName="termsAndConditions" class="form-check-input" type="checkbox"
                    id="termsAndConditions">
            <label class="form-check-label" for="termsAndConditions">
                Accetto i termini e le condizioni
            </label>
            <div class="invalid-feedback">
                Devi accettare i termini e le condizioni
            </div>
        </div>
    </div>


    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>