<h1>Login page</h1>
<div class="row">
    <div class="col-4 mx-auto">

        <pre>{{form.value | json}}</pre>

        <form [formGroup]="form" class="row g-3">
            <div class="col-12">
                <label for="email" class="form-label">Email</label>

                <input
                    [ngClass]="{
                        'is-valid': form.controls.email.touched && form.controls.email.valid,
                        'is-invalid': form.controls.email.touched && form.controls.email.invalid
                    }"
                    formControlName="email" type="email" class="form-control" id="email">

                <div class="valid-feedback">
                    Username valido
                </div>
                <div class="invalid-feedback">
                    Campo non corretto
                </div>
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input
                    [ngClass]="{
                        'is-valid': form.controls.password.touched && form.controls.password.valid,
                        'is-invalid': form.controls.password.touched && form.controls.password.invalid
                    }"
                    formControlName="password"
                    type="password" class="form-control" id="password">
                <div class="valid-feedback">
                    Password valida
                </div>
                <div class="invalid-feedback">
                    Campo non corretto
                </div>
            </div>
            <div class="col-12">
                <button
                        [disabled]="form.invalid"
                        class="btn btn-primary" type="submit">Submit form
                </button>
            </div>
        </form>

    </div>
</div>
